* {
    box-sizing: border-box;
}

body {
    --color1: hsla(349, 25%, 79%, 1);
    --color2: hsla(323, 32%, 73%, 1);
    --color3: hsla(317, 36%, 65%, 1);
    --color4: hsla(313, 38%, 57%, 1);
    --color5: rgb(231, 109, 229);
}

body, button, input {
    font-family: 'Dosis', sans-serif;
}

nav {
    display: flex;
    border-bottom: 2px solid black;
    height: 100px;
}

a {
    height: 30px;
    align-self: flex-end;
    margin: 10px;
}

h1 {
    text-align: center;
}

main {
    text-align: center;
}

.admin-form {
    display: flex;
    flex-direction: column;
}